<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
    <servlet>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <servlet-name>Faces</servlet-name>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Faces</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    
    
<!--Spring-->
    
    <!--Configuracion para cargar archivos de Spring -->   
      <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring/app-context.xml
        </param-value>
    </context-param>
    

      <!-- Definicion del servlet de Springn-->
      <servlet>
        <servlet-name>Spring Servlet</servlet-name>
        	<servlet-class>
                    org.springframework.web.servlet.DispatcherServlet
                </servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/app-context.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

      <!-- Tipo de peticiones que van a ser procesadas por spring-->
      <servlet-mapping>
        <servlet-name>Spring Servlet</servlet-name>
        <url-pattern>*.spring</url-pattern>
    </servlet-mapping>
    
    
    
    <!-- carga el appContext   -->   
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>
    
    
</web-app>
